# How to perform One-Hot Encoding For Multi Categorial Variables

In [1]:
# importing Modules
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [3]:
#Readign Dataset
df=pd.read_csv("train (2).csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df.shape

(1460, 81)

In [5]:
#Cheaking Categorical Values(cheaking features)

cat=df.select_dtypes(include="O").keys()
cat

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

In [7]:
#creating new DataFrame

df=pd.read_csv("train (2).csv",usecols=['Neighborhood','Exterior1st','Exterior2nd'])
df.head()

  Neighborhood Exterior1st Exterior2nd
0      CollgCr     VinylSd     VinylSd
1      Veenker     MetalSd     MetalSd
2      CollgCr     VinylSd     VinylSd
3      Crawfor     Wd Sdng     Wd Shng
4      NoRidge     VinylSd     VinylSd

In [9]:
#Finding Unique Values

for x in df.columns:
    print(x,':',len(df[x].unique()),'labels')

Neighborhood : 25 labels
Exterior1st : 15 labels
Exterior2nd : 16 labels

In [10]:
#Technique For Multi Categorical Variables
#Most Frequent variables
df.Neighborhood.value_counts().sort_values(ascending=False).head(20)

NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
Blmngtn     17
Name: Neighborhood, dtype: int64

In [11]:
#List of most frequent Categorical Variables
top_10=[x for x in df.Neighborhood.value_counts().sort_values(ascending=False).head(10).index]
top_10

['NAmes',
 'CollgCr',
 'OldTown',
 'Edwards',
 'Somerst',
 'Gilbert',
 'NridgHt',
 'Sawyer',
 'NWAmes',
 'SawyerW']

# Make Binary

In [12]:
for label in top_10:
    df[label]=np.where(df['Neighborhood']==label,1,0)
df[['Neighborhood']+top_10]

,Neighborhood,NAmes,CollgCr,OldTown,Edwards,Somerst,Gilbert,NridgHt,Sawyer,NWAmes,SawyerW
0,CollgCr,0,1,0,0,0,0,0,0,0,0
1,Veenker,0,0,0,0,0,0,0,0,0,0
2,CollgCr,0,1,0,0,0,0,0,0,0,0
3,Crawfor,0,0,0,0,0,0,0,0,0,0
4,NoRidge,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1455,Gilbert,0,0,0,0,0,1,0,0,0,0
1456,NWAmes,0,0,0,0,0,0,0,0,1,0
1457,Crawfor,0,0,0,0,0,0,0,0,0,0
1458,NAmes,1,0,0,0,0,0,0,0,0,0
1459,Edwards,0,0,0,1,0,0,0,0,0,0

# All selected variable on OneHotEncoding

In [16]:
def top_x(df2,variable,top_x_labels):
    for label in top_x_labels:
        df2[variable+"_"+label]=np.where(df[variable]==label,1,0)
df=pd.read_csv("train (2).csv",usecols=['Neighborhood','Exterior1st','Exterior2nd'])

top_x(df,'Neighborhood',top_10)
df.head(10)

,Neighborhood,Exterior1st,Exterior2nd,Neighborhood_NAmes,Neighborhood_CollgCr,Neighborhood_OldTown,Neighborhood_Edwards,Neighborhood_Somerst,Neighborhood_Gilbert,Neighborhood_NridgHt,Neighborhood_Sawyer,Neighborhood_NWAmes,Neighborhood_SawyerW
0,CollgCr,VinylSd,VinylSd,0,1,0,0,0,0,0,0,0,0
1,Veenker,MetalSd,MetalSd,0,0,0,0,0,0,0,0,0,0
2,CollgCr,VinylSd,VinylSd,0,1,0,0,0,0,0,0,0,0
3,Crawfor,Wd Sdng,Wd Shng,0,0,0,0,0,0,0,0,0,0
4,NoRidge,VinylSd,VinylSd,0,0,0,0,0,0,0,0,0,0
5,Mitchel,VinylSd,VinylSd,0,0,0,0,0,0,0,0,0,0
6,Somerst,VinylSd,VinylSd,0,0,0,0,1,0,0,0,0,0
7,NWAmes,HdBoard,HdBoard,0,0,0,0,0,0,0,0,1,0
8,OldTown,BrkFace,Wd Shng,0,0,1,0,0,0,0,0,0,0
9,BrkSide,MetalSd,MetalSd,0,0,0,0,0,0,0,0,0,0